<nav class="navbar navbar-expand-lg navbar-dark" >
    <a routerLink="/coach/home" id="logo" class="navbar-left" ><img id="imgLogo" src="../../../assets/logo.png"></a>
    <a class="navbar-brand" routerLink="/coach/home">Janky Robotics Co.</a>

    <li class="nav-item">
      <a class="navbar-brand" id="contact" disabled>Welcome Coach {{firstname}}</a>
    </li>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" id="contact" routerLink="/coach/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact" routerLink="/coach/edit-profile">Edit Profile</a>
        </li>
        <li class="nav-item">
          <div (click)="logout()"><a class="nav-link" id="logout">Logout</a></div>
        </li>
      </ul>
    </div>
  </nav>
  