@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
body{height: 200%;}
.errors {
    background-color: grey;
    color: red;
    text-transform: capitalize;
}
#page-footer{
    position: sticky;
    top: 100vh;
    width: 100%;
}
.btn-group{
    margin-top: -35px;
    width: 65%;
}
.dob{
    padding: 5.5px;
    border-radius: 6px;
}
#header {
    font-family: 'Do Hyeon', sans-serif;
    text-shadow: 
        .05em 0 0 red,
        -.025em -.05em 0 green,
        .025em .05em 0 blue;  
    font-size: 50px;
    color: white;
    padding: 35px;
    position: relative;
    animation: glitch 525ms infinite;
    animation-duration: 5s;
}
.container-fluid{
    position: relative;
    width: 100%;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login, #signup{
    width: 40%;
    margin-top: 30px;
}
#loginBTN,#signupBTN{
    z-index: 1;
    width: 50%;
    font-size: x-large;
    transition: .75s;
}
#loginBTN:hover,#signupBTN:hover{
    transition: .75s;
    background-color: transparent;
    background-image: linear-gradient(to top left,rgba(252, 2, 2, 0.7),rgba(252,2,2,.7))
}
#signupBTN{
    background-color: darkred;
    border: darkred;
}
.dob{width: 100%;}
label, .dob,.col-sm-6 {padding-left: 0;}
h1,label {
    font-family: 'Do Hyeon', sans-serif;
    color: white;
}
input{font-family: 'Do Hyeon', sans-serif;}
.btn {
    margin-left: auto; margin-right: auto;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    border-color: red;
    background-color: red;
    transition: .75s;
    padding: 5px;
}
.btn:hover{
    background-color: darkred;
    border: darkred;
    transition: .75s;
    color:white;
}
.btn:active{background-color: black;}
.btn:focus{
    outline: none;
    box-shadow: none;
    border: none;
}
.sub{
    display: flex;
    justify-content: center;
}
.sub button {width: 50%;}

.hide {display: none;}

#header span {
    position: absolute;
    padding: 35px;
    top: 0;
    left: 0;
}

.slide{
    display: block;
    animation: slideIn 1.5s;
}

@keyframes slideIn{
    from{
        margin-left: -100%;
        opacity: 0;
        transform: rotateY(-10deg);
    }
    to{
        margin-left: 0;
        opacity: 1;
        transform: rotateX(0);
    }
}

@keyframes glitch {
    0% {
        text-shadow: 
        .025em -.025em 0 red,
        -.05em -.05em 0 green,
        -.025em .05em 0 blue;  
    }
    14% {
        text-shadow: 
        .025em -.025em 0 red,
        -.05em -.05em 0 green,
        -.025em .05em 0 blue;  
    }
    15% {
        text-shadow: 
        -.05em 0 0 red,
        .025em .025em 0 green,
        -.075em .05em 0 blue;  
    }
    49% {
        text-shadow: 
        -.05em 0 0 red,
        .025em .025em 0 green,
        -.075em .05em 0 blue;  
    }
    50% {
        text-shadow: 
        .025em .05em 0 red,
        .05em 0 0 green,
        -.05em -.05em 0 blue;  
    }
    99% {
        text-shadow: 
        .025em .05em 0 red,
        .05em 0 0 green,
        -.05em -.05em 0 blue;  
    }
    100% {
        text-shadow: 
        .75em -.1em 0 red,
        -.25em 0 0 green,
        0 .5em 0 blue;  
    }
}

/* @media screen and (max-width:992px){
    #page-footer{
       position: fixed;
       bottom: 0;
    }
    #login{
        width: 50%;
        margin-top: 20%;
    }    
}
@media screen and (max-width:768px){
    #page-footer{
       position: fixed;
       bottom: 0;
    }
    #login{
        width: 50%;
        margin-top: 20%;
    }
    #signup{padding-bottom: 75px;}
} */
@media screen and (max-width:450px){
    label, .dob,.col-sm-6 {padding-left: 0; padding-right: 0;}
    /* #page-footer{
        position: relative;
        bottom: 0;
    } */
    #login, #signup{
        width: 75%;
        margin-top: 30px;
    }
}

@media (prefers-reduced-motion: reduce) {
    *, ::before, ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
}