<app-coach-navbar></app-coach-navbar>

<div class="container-fluid"> 
    <h1>Edit Profile</h1>
    <div style="display:flex; justify-content:flex-end"><button (click)="editForm()" type="button" class="btn edit">Edit</button></div>
    <br><br>
    <div id="signup">
      <form #editCoachForm="ngForm">
        <div class="form-group">
            <label for="firstname">First Name:</label>
            <input [disabled]="disabled" type="text" class="form-control" id="firstname" [(ngModel)]="firstname" name="firstname" required>
        </div>

        <div class="form-group">
            <label for="lastname">Last Name:</label>
            <input [disabled]="disabled" type="text" class="form-control" id="lastname" [(ngModel)]="lastname" name="lastname" required>
        </div>

        <div class="form-group">
            <label [hidden]="!hidden" for="ctype">Coach Type:</label>
            <input [hidden]="!hidden" [disabled]="disabled" type="text" class="form-control" id="ctype" [(ngModel)]="ctype" name="ctype">
        </div>
        
        <div [hidden]="hidden" class="form-group">
            <label for="coachType">Coach Type:</label>
            <select id="coachType" name="coachType" 
                    [(ngModel)]="coachType" class="coachType form-control">
                <option *ngFor="let type of coachTypes" [value]="type">
                    {{type}}
                </option>
            </select>
        </div>
        <!-- <div class="form-group">
            <label [hidden]="hidden" for="oldPassword">Old Password</label>
            <input [hidden]="disabled" [(ngModel)]="oldPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" type="password" name="oldPassword" id="oldPassword" required>
        </div>
  
        <div class="form-group">
            <label [hidden]="hidden" for="newPassword">Password</label>
            <input [hidden]="disabled" [(ngModel)]="newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" type="password" name="newPassword" id="newPassword" required>
        </div>
        <div class="form-group">
            <label [hidden]="hidden" for="verifyNewPassword">Confirm Password</label>
            <input [hidden]="disabled" [(ngModel)]="verifyNewPassword" type="password" name="verifyNewPassword" id="verifyNewPassword" required>
        </div> -->
  
        <div><button [hidden]="hidden" [disabled]="disabled" (click)="saveCoachDetails()" class="btn save">Save</button></div>
      </form>
    </div> <br><br>
    <button (click)="saveAvailability()" class="btn">Save Availability</button> <br><br>   
    <div id="availabilityPicker">
        <div id="sunday">
            <input id="sunBTN" type="radio" name="radio" checked="checked"><label class="weekday" for="sunBTN">Sunday Availability</label>
                <!-- data-toggle="collapse" data-target="#collapseWednesday" aria-expanded="false" aria-controls="collapseWednesday"> -->
              
            <div class="collapseTable">
                <div class="card card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sunday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let id of top; index as i;">
                                <td (click)="switchAvail($event)" id="{{ 'sun_' + id[k] }}" *ngFor="let time of standard[i]; index as k;" [ngClass]="haystack('sun', id[k]) ? 'active' : ''">
                                    {{ standard[i][k] }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- END SUNDAY AVAILABILITY-->

        <div id="monday">
            <input id="monBTN" type="radio" name="radio"><label class="weekday" for="monBTN">Monday Availability</label>
                <!-- data-toggle="collapse" data-target="#collapseWednesday" aria-expanded="false" aria-controls="collapseWednesday"> -->
             
            <div class="collapseTable">
                <div class="card card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Monday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let id of top; index as i;">
                                <td (click)="switchAvail($event)" id="{{ 'mon_' + id[k] }}" *ngFor="let time of standard[i]; index as k;" [ngClass]="haystack('mon', id[k]) ? 'active' : ''">
                                    {{ standard[i][k] }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- END MONDAY AVAILABILITY -->

        <div id="tuesday">
            <input id="tueBTN" type="radio" name="radio"><label class="weekday" for="tueBTN">Tuesday Availability</label>
                <!-- data-toggle="collapse" data-target="#collapseWednesday" aria-expanded="false" aria-controls="collapseWednesday"> -->
             
            <div class="collapseTable">
                <div class="card card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tuesday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let id of top; index as i;">
                                <td (click)="switchAvail($event)" id="{{ 'tue_' + id[k] }}" *ngFor="let time of standard[i]; index as k;" [ngClass]="haystack('tue', id[k]) ? 'active' : ''">
                                    {{ standard[i][k] }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- END TUESDAY AVAILABILITY -->

        <div id="wednesday">
            <input id="wedBTN" type="radio" name="radio"><label class="weekday" for="wedBTN">Wednesday Availability</label>
                <!-- data-toggle="collapse" data-target="#collapseWednesday" aria-expanded="false" aria-controls="collapseWednesday"> -->
             
            <div class="collapseTable">
                <div class="card card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Wednesday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let id of top; index as i;">
                                <td (click)="switchAvail($event)" id="{{ 'wed_' + id[k] }}" *ngFor="let time of standard[i]; index as k;" [ngClass]="haystack('wed', id[k]) ? 'active' : ''">
                                    {{ standard[i][k] }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- END WEDNESDAY AVAILABILITY -->

        <div id="thursday">
            <input id="thuBTN" type="radio" name="radio"><label class="weekday" for="thuBTN">Thursday Availability</label>
                <!-- data-toggle="collapse" data-target="#collapseWednesday" aria-expanded="false" aria-controls="collapseWednesday"> -->
             
            <div class="collapseTable">
                <div class="card card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Thursday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let id of top; index as i;">
                                <td (click)="switchAvail($event)" id="{{ 'thu_' + id[k] }}" *ngFor="let time of standard[i]; index as k;" [ngClass]="haystack('thu', id[k]) ? 'active' : ''">
                                    {{ standard[i][k] }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- END THURSDAY AVAILABILITY-->

        <div id="friday">
            <input id="friBTN" type="radio" name="radio"><label class="weekday" for="friBTN">Friday Availability</label>
                <!-- data-toggle="collapse" data-target="#collapseWednesday" aria-expanded="false" aria-controls="collapseWednesday"> -->
             
            <div class="collapseTable">
                <div class="card card-body"> 
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Friday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let id of top; index as i;">
                                <td (click)="switchAvail($event)" id="{{ 'fri_' + id[k] }}" *ngFor="let time of standard[i]; index as k;" [ngClass]="haystack('fri', id[k]) ? 'active' : ''">
                                    {{ standard[i][k] }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- END FRIDAY AVAILABILITY-->

        <div id="saturday">
            <input id="satBTN" type="radio" name="radio"><label class="weekday" for="satBTN">Saturday Availability</label>
                <!-- data-toggle="collapse" data-target="#collapseWednesday" aria-expanded="false" aria-controls="collapseWednesday"> -->
             
            <div class="collapseTable">
                <div class="card card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Saturday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let id of top; index as i;">
                                <td (click)="switchAvail($event)" id="{{ 'sat_' + id[k] }}" *ngFor="let time of standard[i]; index as k;" [ngClass]="haystack('sat', id[k]) ? 'active' : ''">
                                    {{ standard[i][k] }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- END SATURDAY AVAILABILITY -->
    </div> <!-- END AVAILABILITY PICKER -->
</div>
<div id="page-footer"><app-footer></app-footer></div>