@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
.container-fluid{
    width: 92.5%;
    text-align: justify;
}
h1{ 
    color: white;
    font-family: 'Do Hyeon', sans-serif;
}
.active {
    background-color: red;
    filter: brightness(85%);
    border-radius: 2px;
    color: black; 
    transition: .75s;
}
#availabilityPicker{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.weekday{
    font-family: "Do Hyeon", sans-serif;
    background-color: black;
    border-radius: 8px;
    padding: 12px;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: .75s;
}
.weekday:hover {
    background-color: transparent;
    background-image: linear-gradient(to top left,rgba(252, 2, 2, 0.7),rgba(252, 2, 2, .7));
    transform: .5s;
}

input[type="radio"]:checked + label{
    background-color: red;
    color: black;
    transition: .75s;
}
/* Sign Up CSS */
    #signup {
        background-image: linear-gradient(to top left,rgba(252, 2, 2, 0.7),rgba(0, 0, 0, .7));
        border-radius: 8px;
        padding: 50px;
        transition: .75s;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .5s;
        width: 100%;
    }

    button {
        background-color: red;
        color: white;
        outline: none;
        box-shadow: none;
        border: none;
        font-family: "Do Hyeon", sans-serif;
    }

    .btn:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }

    .form-group{
        color: white;
        font-size: xx-large;
        width: 75%;
        font-family: "Do Hyeon", sans-serif;
    }
    .save{
        width: 100%;
        transition: .5s;
    }
/* End of Sign Up CSS */

/* table CSS */
td{cursor: pointer;}
td, th {
    color: white;
    font-family: "Do Hyeon", sans-serif;
}
.table thead th{border-bottom: none;}
td {border-style: none}
.table th {border-top: none;}
.table > :not(:first-child){border-top: none;}

/* End of Table CSS */
#monday,#tuesday,#wednesday,#thursday,#friday,#saturday,#sunday {
    width: 125px;
    cursor: pointer;
}
#monBTN, #tueBTN, #wedBTN, #thuBTN, #friBTN, #satBTN, #sunBTN {display: none;}
.card{
    background-color: transparent;
    background-image: linear-gradient(to top left,rgba(252, 2, 2, 0.7),rgba(0, 0, 0, .7)); 
    color: white
}

#page-footer{
    position: absolute;
    top: 157vh;
    width: 100%;
}
.collapseTable {
    position: absolute;
    left: -3000px; right: 0;
    width: 87.5vw;
    margin-top: 15px;
    margin-left: auto; margin-right: auto;
    overflow: hidden;
    height: 275px;
    transition: .5s;
}

#monBTN:checked ~ .collapseTable,#tueBTN:checked ~ .collapseTable,#wedBTN:checked ~ .collapseTable,#thuBTN:checked ~ .collapseTable,
#friBTN:checked ~ .collapseTable,#satBTN:checked ~ .collapseTable,#sunBTN:checked ~ .collapseTable{
    left: 0;
    height: 275px;
    transition: .5s;
}

@media screen and (max-width: 450px) {
    #monday,#tuesday,#wednesday,#thursday,#friday,#saturday,#sunday {width: 100px;}
    #availabilityPicker {
        flex-wrap: wrap;
    }
    .collapseTable {
        position: absolute;
        top: 113vh;
        overflow: visible;
        width: fit-content;  
    } 
    #page-footer{top: 152.5vh}
}

@media screen and (max-width: 400px) {
    #monday,#tuesday,#wednesday,#thursday,#friday,#saturday,#sunday {width: 90px;}
    #availabilityPicker {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .collapseTable {
        position: absolute;
        top: 121.5vh;
        overflow: visible;
    }
    #page-footer{top: 165vh}
}
@media screen and (max-width: 376px) {
    .card{padding: 0;}
    .collapseTable {
        position: absolute;
        top: 153vh;
        overflow: visible;
    }
    #page-footer{top: 200vh}
}
