<app-about-navbar></app-about-navbar>

<div class="container">
    <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img
            style="object-fit:contain;
                width:200px;
                height:300px;"    
            src="../../../assets/tjankowski.jpg"
            class="card-img-top"
            >
        </div>
        <div class="card-body">
            <h5 class="card-title">Tyler Jankowski</h5>
            <p class="card-text">
                Serving as a Senior Test Automation Engineer for a leading financial institution, 
                Tyler's skill set doesn't stop there. Having skills in both front-end and back-end technologies,
                he is truly a full stack developer.
                Tyler's expert level skills are Java/Selenium and Python/Playwright for test automation applications. <br><br>
                With a passion to learn, he has experience in web development using, Java Spring Boot, Angular, JS, and Django!
                Other skillsets and development tools include Jenkins/Vulcan, AWS, Azure, GIT, and Agile Methodology. <br><br>                               
            </p>
        </div>
        <div class="card-footer text-muted">
            <p>
                Check out his links here:
            </p>
            <ul>
                <li><a href="">Portfolio</a></li>
                <li><a href="https://www.linkedin.com/in/tylerjjankowski">LinkedIn</a></li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img
            style="object-fit:contain;
                width:200px;
                height:300px;"    
            src="../../../assets/robert-photo.jpg"
            class="card-img-top"
            >
        </div>
        <div class="card-body">
            <h5 class="card-title">Robert Morrison</h5>
            <p class="card-text">
                Current College student at the University of Texas at Arlington, where he studies Communication Technology, which focus on web
                development principles and skills. During his college career, he as had the chance to learn and interact with a plethora of different technologies such as:
                Java, SQL, HTML, CSS, Javascript, PHP, Figma, etc. Robert is also currently an Assistant Web Developer for the College of Business at his school. Working as 
                an Assistant Web Developer, he as also gain experience working with Sitecore and WordPress. <br><br>
                Going into his Senior year, Robert hopes to be active in the fast growing industry of web/app creation. He wants to be a valuable asset 
                to his work environment and make an impact with the work that he will do. With his wide variety of knowledge and ability to learn
                in different aspects of coding, he hopes that one day he will become a dominating force in the web development field.<br> <br>
                Expected Graduation Date: Fall 2022  
            </p>
        </div>
        <div class="card-footer text-muted">
            <p>
                Check out his links here:
            </p>
            <ul>
                <li><a href="">Portfolio</a></li>
                <li><a href="">LinkedIn</a></li>
            </ul>
        </div>
    </div>
</div>

<app-footer></app-footer>

