<app-about-navbar></app-about-navbar>

<div class="container">
    <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img
            style="object-fit:contain;
                width:200px;
                height:300px;"    
            src="../../../assets/tjankowski.jpg"
            class="card-img-top"
            >
        </div>
        <div class="card-body">
            <h5 class="card-title">Tyler Jankowski</h5>
            <p class="card-text">
            Tyler is one of our front end and back end developers! He is the creator and visionary of this application
            and pulled the team together. His current role is a Test Automation Engineer using Playwright and JavaScript.
            </p>
        </div>
        <div class="card-footer text-muted">
            <p>
                Check out his links here:
            </p>
            <ul>
                <li><a href="">Portfolio</a></li>
                <li><a href="https://www.linkedin.com/in/tylerjjankowski">LinkedIn</a></li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img
            style="object-fit:contain;
                width:200px;
                height:300px;"    
            src="../../../assets/404Page.gif"
            class="card-img-top"
            >
        </div>
        <div class="card-body">
            <h5 class="card-title">Robert Morrison</h5>
            <p class="card-text">
            this is my guy. we survived the hell hole of virginia together. Hopefully he puts some good shit here.
            </p>
        </div>
        <div class="card-footer text-muted">
            <p>
                Check out his links here:
            </p>
            <ul>
                <li><a href="">Portfolio</a></li>
                <li><a href="">LinkedIn</a></li>
            </ul>
        </div>
    </div>
</div>

<app-footer></app-footer>

