@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

nav {background-image: linear-gradient(to top right, darkred,red);}
.navbar-brand {padding-left: 10px;}
#navbarContent{justify-content: flex-end;}
h1 {
    font-family: 'Do Hyeon', sans-serif;
    font-size: x-large;
}
h2 {
    font-family: 'Do Hyeon', sans-serif;
    font-size: medium;
}

a {color: white;}
a:hover {
    text-decoration: none;
    color: darkred;
}

#imgLogo{
    width: 45px;
    height: 45px;
    padding-right: 5px;
    align-content: center;
}

button {
    box-shadow: none;
    border: none;
}
button:focus {
    box-shadow: none;
    background-color: darkred;
}

