<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Optimal Performance Gym</h2>    
                <h2><small>Charlotte, NC</small></h2>
            </div>
            <div class="col-md-4">
                <a class="btn" href="https://www.instagram.com/optimalperformance_gym/">
                    <i class="fa fa-instagram"></i>
                </a>
        
                <a class="btn" href="#">
                    <i class="fa fa-youtube"></i>
                </a>
        
                <a class="btn" href="#">
                    <i class="fa fa-facebook"></i>
                </a>
            </div>
        </div>
    </div>
</footer>