@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

nav {background-image: linear-gradient(to top right, darkred,red);}
.navbar-brand {padding-left: 10px;}

#imgLogo{
    width: 30px;
    height: 30px;
    padding-right: 5px;
    align-content: center;
}
.nav-link, .nav-title {
    font-family: "Do Hyeon", sans-serif;
    color: white;
    cursor: pointer;
}
.nav-link:hover {
    color: darkred;
}
.nav-link {
    font-family: "Do Hyeon", sans-serif;
    color: white;
}