<app-coach-navbar></app-coach-navbar>

<div class="container">
    <div id="pending_sessions">
        <h2>Pending Sessions:</h2>
        <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Training</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let session of pendingSessions; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ session.date }}</td>
              <td>{{ session.time }}:00</td>
              <td>{{ session.session_type }}</td>
              <td>{{ session.user_firstname }}</td>
              <td>{{ session.user_lastname }}</td>
              <td>{{ session.user_phonenum }}</td>
              <td>{{ session.session_status }}</td>
              <td><button (click)="loadSession(session)">View</button></td>
            </tr>
            </tbody>
          </table>

    </div>

    <div id="accepted_sessions">
        <h2>Accepted Sessions:</h2>
        <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Training</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
              
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let session of acceptedSessions; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ session.date }}</td>
              <td>{{ session.time }}:00</td>
              <td>{{ session.session_type }}</td>
              <td>{{ session.user_firstname }}</td>
              <td>{{ session.user_lastname }}</td>
              <td>{{ session.user_phonenum }}</td>
              <td>{{ session.session_status }}</td>
              <td><button (click)="loadSession(session)">View</button></td>
            </tr>
            </tbody>
          </table>

    </div>


    <div id="completed_sessions">
        <h2>Completed Sessions:</h2>
        <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Training</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let session of completedSessions; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ session.date }}</td>
              <td>{{ session.time }}:00</td>
              <td>{{ session.session_type }}</td>
              <td>{{ session.user_firstname }}</td>
              <td>{{ session.user_lastname }}</td>
              <td>{{ session.user_phonenum }}</td>
              <td>{{ session.session_status }}</td>
              <td></td>
            </tr>
            </tbody>
          </table>

    </div>


</div>