<app-coach-navbar></app-coach-navbar>

<p>
    we need a calendar view showing the current week grid in which we are displaying the week's scheduled sessions!
    it should be broken up by hour and could even be color cordinated by what is booked and what might be pending, available,
    and hours not working.
</p>

<p>
    Hour blocks will be colored accordingly: Grey for nothing (nothing scheduled & not available). Red for pending session request. 
    Green for Accepted & Scheduled Session. Blue for Blocked by coach?
</p>

<p>
    By Blocked, it means the coach is usually available at this hour but blocked it from another user creating a session for any reason.
    Could be one client wanted to do a 5:30 - 6:30 so the coach blocked the hour 6-7 which doesn't allow another client to create a session
    at that time. 
</p>