<app-landing-navbar></app-landing-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="intro">
            <h1>Welcome to our Demo Website Application</h1>
            <p>
                This website is for demo purposes only! No real data is used and feel free to make up your own data!
                We store none of your data for long periods of time and all changes are hosted independent of other sessions!
            </p>
    
            <p>
                What does this mean?
                Our team wanted to create an application that was working, secure, and able to display our skills.
                So we created a fully fuctioning scheduler application with different user roles. Some data is static while other is generated in real time.
                Any user data (that you create) is only stored for your session and as soon as you logout or send a new request, all data is cleared!
                Our team's main purpose is to have a place to safely display our skills!
            </p>
        </div>
        <br><br>
        <div class="usertypes">
            <h2>Current Users and Roles!</h2>
            <div class="admin">
                <h4>Admin</h4>
                <p>Type /admin into the URL to see our "hidden" admin login</p>
                <ul>
                    <li>Username: admin</li>
                    <li>Password: demoadmin</li>
                </ul>
                <p>Use cases are to provide additional functionality such as creating new coaches and viewing all current coaches!</p>
            </div>
            <br><br>
            <div class="coach">
                <h4>Coach</h4>
                <p>Use our Coach Login button to view our Coach Portal!</p>
                <ul>
                    <li>Username: democoach</li>
                    <li>Password: democoach</li>
                </ul>
                <p>Use cases are:</p>
                <ul>
                    <li>Edit Profile and training availability.</li>
                    <li>Approve, Reject, Complete, or Cancel training sessions.</li>
                    <li>View upcoming training sessions and the user that submitted it!</li>
                </ul>
            </div>
            <br><br>
            <div class="user">
                <h4>User</h4>
                <p>Use our User Login button to view our User Login/Register Portal!</p>
                <ul>
                    <li>Username: demo</li>
                    <li>Password: demouser</li>
                </ul>
                <p>Use cases are:</p>
                <ul>
                    <li>Edit personal profile details.</li>
                    <li>Submit new training sessions based on session type and coach.</li>
                    <li>View submitted training sessions and the status of each one!</li>
                </ul>
            </div>
        </div>    
    </div>
    <br><br>
    <div class="developers">
        <h2>Meet Our Developers!</h2>
        <div class="row">
            <img src="../../../assets/gloves.jpg" class="img-fluid col-12 col-lg-5" alt="">
            <div class="col content-bg">
                <p class="tyler">Tyler Jankowski
                    (insert picture here) 
                </p>
            </div>
        </div>
        <br><br>
        <div class="row">
            <img src="../../../assets/robert-photo.jpg" class="img-fluid col-12 col-lg-5" alt=""> <br>
            <div class="col content-bg">
                <p class="robert">
                    Robert Morrison is a current College student at the University of Texas at Arlington, where he studies Communication Technology, which focus on web
                    development principles and skills. During his college career, he as had the chance to learn and interact with a plethora of different technologies such as:
                    Java, SQL, HTML, CSS, Javascript, PHP, Figma, etc. Robert is also currently an Assistant Web Developer for the College of Business at his school. Working as 
                    an Assistant Web Developer, he as also gain experience working with Sitecore and WordPress. <br><br>
                    Going into his Senior year, Robert hopes to be active in the fast growing industry of web/app creation. He wants to be a valuable asset 
                    to his work environment and make an impact with the work that he will do. With his wide variety of knowledge and ability to learn
                    in different aspects of coding, he hopes that one day he will become a dominating force in the web development field.<br> <br>
                    Expected Graduation Date: Fall 2022  
                </p>
            </div>
        </div>
    </div>
    <br><br>
</div>

<app-footer></app-footer>