<app-about-navbar></app-about-navbar>

<div class="container">

    <div class="intro">
        <h2>Welcome to our Demo Website Application</h2>
        <p>
            This website is for demo purposes only! This website is used to show the skills of our developers
            and to test things out as creators. No real data is used or saved. Everything is local to each user
            and to each browser's experience. We encourage user interaction of creating your own users, or seeing
            what has already been created by logging in to our default users.
        </p>
        <p>
            See below for our current list of user roles and some demo users that you can use yourself. Creating
            users is hidden withen our admin functionality or you can create a basic user by registering! Again,
            in this application, we are saving no personal data and any changes or users created will be reverted
            upon refresh or navigating away from our website.
        </p>
    </div>

    <div class="usertypes">
        <h2>Current Users and Roles!</h2>
        <div class="admin">
            <h4>Admin</h4>
            <p>Type /admin into the URL to see our "hidden" admin login</p>
            <ul>
                <li>Username: admin</li>
                <li>Password: demoadmin</li>
            </ul>
            <p>Use cases are to provide additional functionality such as creating new coaches and viewing all current coaches!</p>
        </div>

        <div class="coach">
            <h4>Coach</h4>
            <p>Use our Coach Login button to view our Coach Portal!</p>
            <ul>
                <li>Username: democoach</li>
                <li>Password: democoach</li>
            </ul>
            <p>Use cases are:</p>
            <ul>
                <li>Edit Profile and training availability.</li>
                <li>Approve, Reject, Complete, or Cancell training sessions.</li>
                <li>View upcoming training sessions and the user that submitted it!</li>
            </ul>
        </div>

        <div class="user">
            <h4>User</h4>
            <p>Use our User Login button to view our User Login/Register Portal!</p>
            <ul>
                <li>Username: demo</li>
                <li>Password: demouser</li>
            </ul>
            <p>Use cases are:</p>
            <ul>
                <li>Edit personal profile details.</li>
                <li>Submit new training sessions based on session type and coach.</li>
                <li>View submitted training sessions and the status of each one!</li>
            </ul>
        </div>
    </div>
</div>

<app-footer></app-footer>