#signup{
    font-family: "Do Hyeon";
    color: white;
    width: 35%;
}
.container-fluid
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:2.5% 0;
} 
.sub{
    display: flex;
    justify-content: center;
}
.btn {
    border-color: red;
    background-color: red;
    color: white;
    width: 50%;
}
.btn:hover {
    border-color: darkred;
    background-color:darkred;
    color: white;
}

#page-footer{
    position: sticky;
    top: 100vh;
    width: 100%;
}
.center{
    display: flex;
    align-items: center;
    height: 100%;
}
@media screen and (max-width: 450px) {
    #signup{ width: 85%; }
}
@media screen and (max-width: 376px) {
    .center{height: auto;}
}    