<app-user-navbar></app-user-navbar>

<div class="container">
    <div id="signup">
        <h1>Schedule Training Session</h1>
        <form (ngSubmit)="createNewSession()" #createCoachForm="ngForm">

            <div class="form-group">
                <label for="sessionType">Session Type:</label>
                <select id="sessionType" name="sessionType" 
                        [(ngModel)]="sessionType" class="coachType form-control"  (change)="getCoachesByType()">
                    <option *ngFor="let type of coachTypes" [value]="type">
                        {{type}}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="sessionCoach">Coach:</label>
                <select id="sessionCoach" name="sessionCoach" 
                        [(ngModel)]="coachName" class="coachType form-control" (change)="getCurrentWeek()">
                    <option>default...</option>
                    <option *ngFor="let coach of coaches" [value]="coach.firstname">
                        Coach {{coach.firstname}}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="sessionDay">Session Day:</label>
                <select id="sessionDay" name="sessionDay" (change)="getSessionTimes()"
                        [(ngModel)]="sessionDay" class="form-control" >
                    <option *ngFor="let day of two_weeks" [value]="day">
                        {{day}}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="sessionTime">Time:</label>
                <select id="sessionTime" name="sessionTime" 
                        [(ngModel)]="sessionTime" class="coachType form-control">
                    <option *ngFor="let time of times" [value]="time">
                        {{ time }}
                    </option>
                </select>
            </div>


            <div class="form-group">
                <label for="message">Message to Coach:</label>
                <textarea class="form-control" 
                name="message"
                rows="4"
                [(ngModel)]="message"></textarea>
            </div>
            
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

<app-footer></app-footer>
