<nav class="navbar navbar-expand-lg navbar-dark" >
    <a routerLink="/" id="logo" class="navbar-left" ><img id="imgLogo" src="../../../assets/logo.png"></a>
    <a class="navbar-brand nav-title" routerLink="/">Janky Robotics Co.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" id="about" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact" routerLink="/login">User Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact" routerLink="/coach">Coach Login</a>
        </li>
      </ul>
    </div>
  </nav>