@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url("./assets/lightbulb.jpg");
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; 
}
